# Visual Studio
.vscode/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# User-specific files
*.rsuser
*.resharper
*.swp
*.sln.docstates
*.userprefs

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Entity Framework Core
*.efmodel/
*.efconfig/
*.dbmdl
*.jfm

# SQL Server files
*.mdf
*.ldf
*.ndf

# NuGet packages
*.nupkg
**/packages/*

# npm packages
node_modules/

# Publish output
publish/
*.Publish.xml
*.PublishSettings

# Azure Functions artifacts
local.settings.json
FunctionAppLogs/
**/test-results/
**/*.apphost.exe

# Windows image file caches
Thumbs.db
ehthumbs.db

# Web.config & appsettings files
web.config
appsettings*.json

# Rider
.idea/
.idea/*
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/modules.xml
.idea/*.iml
.idea/.idea
.idea/libraries/
.idea/.name
.idea/.idea/workspace.xml
.idea/.idea/tasks.xml
.idea/.idea/dictionaries
.idea/.idea/vcs.xml
.idea/.idea/jsLibraryMappings.xml
.idea/.idea/modules.xml
.idea/.idea/*.iml
.idea/.idea/.name
.idea/.idea/.idea

# Resharper
_ReSharper*/
*.ReSharper

# JetBrains Rider
.idea/
*.sln.iml
